@charset "ISO-8859-1"; 

#google_translate_element {
	width: auto;
	float: right;
	text-align: right;
	display: block;
	padding: 6px !important;
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	/*top: 0px !important;*/
}

#goog-gt-tt {
	display: none !important;
	top: 0px !important;
}

.goog-tooltip skiptranslate {
	display: none !important;
	top: 0px !important;
}

.activity-root {
	display: hide !important;
}

.status-message {
	display: hide !important;
}

.started-activity-container {
	display: hide !important;
}

.goog-te-combo {
	display: block !important;
	padding: 5px;
}

.skiptranslate {
	
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
	display: none;
}

.VIpgJd-ZVi9od-ORHb-OEVmcd {
	display: none;
}


.VIpgJd-ZVi9od-xl07Ob-OEVmcd {
	position: absolute;
}

.VIpgJd-ZVi9od-vH1Gmf {
	position: relative;
}